.hdr {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 25px;
}

.slct {
    text-align: center;
    margin-top: 25px;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: purple;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
}

h1 {
    padding: 300px;
    text-align: center;
    background-image: url('../dog5.jpg');
    color: white;
    background-size: cover;
}

h2 {
    text-align: center;
}


.container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding: 2px 16px;
}

.card1 {
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    height: 450px;
}

.card2 {
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    height: 450px;
}

.card3 {
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    height: 450px;
}

.card4 {
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    height: 450px;
}

.card5 {
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    height: 450px;
}

img {
    width: 300px;
    height: 300px;
}

@media (max-width: 1200px) {
    .card1 {
        width: 200px;
        height: 200px;

    }

}

@media(max-width: 768px) {
    .slct img {
        width: 1200px;
    }
}